/* CSS declarations go here */


.text-right{
		text-align:right;
}
.text-center{
		text-align:center;
}
.float-right{
		float:right;
}

/*loginButtons fixes*/
#login-dropdown-list .dropdown-toggle{
		line-height:3.5;
}
#login-dropdown-list .dropdown-menu{
		text-align:right;
		width: auto;
		padding-left:35px;
}
.login-li{
		padding-right:20px;
}
/*#login-dropdown-list{
		position: fixed !important;
		right:10px !important;
		left:initial;
		text-align:initial;
		z-index: 9999;
}
.login-close-text{
		line-height:1 !important;
		float:right !important;
}*/


.accordian-button{
		margin-top:-5px;
}