<template name="chores">
				{{#if houseOwner}}
				<div class="row">
					<div class="col-sm-8">
						{{> chartModalButton data=chart type='Doughnut'}}
					</div>
				</div>
			{{/if}}
	<div class="row">
		{{#unless houseOwner}}
		<div class="col-sm-2">
			<button class="btn btn-default" id="create-new-chore">New Chore</button>
			{{> chartModalButton data=chart type='Doughnut'}}
		</div>
		<br class="visible-xs-block">
		{{/unless}}
		{{#if anyChores}}
		<div class="col-sm-8">			

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">	
				{{> choreFilters}}
				{{#each chores}}
				{{> choreTab}}
				{{/each}}
			</div>
		</div>
		{{/if}}
		{{#if houseOwner}}
		<div class="col-sm-4">
			<div class="well">
				<h4>Create a new Chore:</h4>
				{{> newChoreForm}}
			</div>
		</div>
		{{/if}}
	</div>
</template>

<template name="choreTab">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-{{_id}}">
      <h4 class="panel-title">
				<div class="row">
					<div class="col-xs-6 col-sm-8">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{_id}}" aria-expanded="false" aria-controls="collapse-{{_id}}">
							{{name}} {{#unless roomFilter}}({{room}}){{/unless}}
						</a>
					</div>
					<div class="col-xs-6 col-sm-4">
						{{>choreButtons}}
					</div>
				</div>
      </h4>
		</div>
    <div id="collapse-{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{_id}}">
      <div class="panel-body">
					<div class="btn-group float-right">
						<button type="button" class="btn btn-default edit-chore" id="{{_id}}"><span class="glyphicon glyphicon-pencil"></span></button>
					{{#if choreOwner}}
						<button type="button" class="btn btn-default delete-chore" id="{{_id}}"><span class="glyphicon glyphicon-trash"></span></button>
					{{/if}}
					</div>
				<p>{{desc}}</p>
      </div>
    </div>
  </div>	
</template>
