<template name="chores">
	<div class="row">
		{{#if chores}}
		<div class="col-sm-7">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">	
				{{> choreFilters}}
				{{#each chores}}
				{{> choreTab}}
				{{/each}}
			</div>
		</div>

		{{/if}}
		<div class="col-sm-5">
			<div class="well">
					 <h4>Create a new Chore:</h4>
					 {{> newChoreForm}}
			</div>
		</div>
	</div>
</template>

<template name="choreTab">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-{{_id}}">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{_id}}" aria-expanded="false" aria-controls="collapse-{{_id}}">
					{{name}} ({{room}})
        </a>
				<div class="float-right">
					<button class="btn {{buttonClass}} complete-chore accordian-button" id="{{_id}}"><span id="{{_id}}" class="glyphicon glyphicon-ok"></span></button>
				</div>
      </h4>
    </div>
    <div id="collapse-{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{_id}}">
      <div class="panel-body">
					<div class="btn-group float-right">
						<button type="button" class="btn btn-default edit-chore" id="{{_id}}"><span class="glyphicon glyphicon-pencil"></span></button>
					{{#if choreOwner}}
						<button type="button" class="btn btn-default delete-chore" id="{{_id}}"><span class="glyphicon glyphicon-trash"></span></button>
					{{/if}}
					</div>
				<p>{{desc}}</p>
				{{#if lastCompleted}}
				<p>Last done on {{lastCompleted}} by {{lastCompletedBy}}</p>
				{{/if}}
      </div>
    </div>
  </div>	
</template>

<template name="choreFilters">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading-filters">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse-filters" aria-expanded="true" aria-controls="collapse-filters">
					Filters
				</a>
				{{#if filters}}
				<div class="float-right">
					<button class="btn accordian-button" id="clear-filters">Clear &times;</button>
				</div>
				{{/if}}
			</h4>
		</div>
		<div id="collapse-filters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-filters">
			<div class="panel-body">
				<form id="chore-filter-search-form" role="form" class="form-inline">
					<div class="input-group">
						{{#if searchFilter}}
						<span class="input-group-btn">
							<button class="btn btn-default" id="clear-search"><span>&times;</span></button>
						</span>
						{{/if}}
						<input id="search" class="form-control" name="query" type="text" value="{{searchQuery}}">
						<span class="input-group-btn">
							<button class="btn btn-default" value="submit"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</form>
				<br>
				<div class="btn-group">
					{{#each rooms}}
					<button class="btn btn-default room-filter" id="{{spacesToHyphens name}}">{{name}}</button>
					{{/each}}
					<button class="btn btn-default room-filter" id="other">other</button>
				</div>



			</div>
		</div>
	</div>
</template>

