<template name="choreButtons">
	<div class="btn-group pull-right">
		<button class="btn btn-default goto-chore accordian-button" id="{{_id}}"><span id="{{_id}}" class="glyphicon glyphicon-share-alt"></span></button>
		<button class="btn btn-default backdate-chore accordian-button" id="{{_id}}"><span id="{{_id}}" class="glyphicon glyphicon-calendar"></span></button>
		<button class="btn {{buttonClass}} complete-chore accordian-button" id="{{_id}}"><span id="{{_id}}" class="glyphicon {{buttonIcon}}"></span></button>
	</div>
</template>
