<template name="chore">

	<div class="row">

		<div class="col-sm-6 well">

			{{#unless isDesktop}}
			{{> chartModalButton data=chart type='Doughnut'}}
			{{/unless}}
			{{#with chore}}
			<h2>{{name}}</h2>
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default edit-chore" id="{{_id}}"><span class="glyphicon glyphicon-pencil"></span></button>
				{{#if choreOwner}}
				<button type="button" class="btn btn-default delete-chore" id="{{_id}}"><span class="glyphicon glyphicon-trash"></span></button>
				{{/if}}
				<button class="btn btn-default backdate-chore" id="{{_id}}"><span id="{{_id}}" class="glyphicon glyphicon-calendar"></span></button>
				<button class="btn {{buttonClass}} complete-chore" id="{{_id}}"><span id="{{_id}}" class="glyphicon {{buttonIcon}}"></span></button>
			</div>
			<p>(<a href="{{pathFor route='house'}}/room/{{spacesToHyphens room}}">{{room}}</a>) <br> {{desc}}</p>
			{{/with}}
		</div>
		<div class="col-sm-6">
			{{#if isDesktop}}
			{{> choreByHousemate}}
			{{/if}}
		</div>
	</div>
	<div class="row">
			{{#with chore}}
{{#if period}}
		<div class="col-sm-4">
			<p>Completed every {{period}} seconds</p>
			<p>Completed every {{secondsToMinutes period}} minutes</p>
			<p>Completed every {{secondsToHours period}} hours</p>
			<p>Completed every {{secondsToDays period}} days</p>
		</div>
{{/if}}
			{{/with}}		
		<div class="col-sm-8">
			<ul>
				{{#each completed}}
				<li>
					Completed by <a href="{{pathFor route='profile'}}{{#unless isSelf}}/{{user}}{{/unless}}">{{#if isSelf}}you{{else}}{{username}}{{/if}}</a> on {{humanReadableDate completed_on}}
					{{#if manageableCompleted}}<button class="remove-logged-chore">&times;</button>{{/if}}
				</li>
				{{/each}}
				{{#if noneCompleted}}
				There haven't been any chores done in this <a href="" class="time-filter">time range</a>. 
				{{/if}}
			</ul>
		</div>
</div>

</template>

<template name="choreByHousemate">
	{{initChartAutorun}}
	<canvas class="{{#if chartHidden}}hidden{{/if}}" id="chore-doughnut-chart" width="300px" height="200px"></canvas>
</template>

