<template name="chore">

	<div class="row">

		<div class="col-sm-6 well">

			{{#unless isDesktop}}
			{{> chartModalButton data=chart type='Doughnut'}}
			{{/unless}}
			{{#with chore}}
			<h2>{{name}}</h2>
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default edit-chore" id="{{_id}}"><span class="glyphicon glyphicon-pencil"></span></button>
				{{#if choreOwner}}
				<button type="button" class="btn btn-default delete-chore" id="{{_id}}"><span class="glyphicon glyphicon-trash"></span></button>
				{{/if}}
				<button class="btn btn-default backdate-chore" id="{{_id}}"><span id="{{_id}}" class="glyphicon glyphicon-calendar"></span></button>
				<button class="btn {{buttonClass}} complete-chore" id="{{_id}}"><span id="{{_id}}" class="glyphicon {{buttonIcon}}"></span></button>
			</div>
			<p>(<a href="{{pathFor route='house'}}/room/{{spacesToHyphens room}}">{{room}}</a>) <br> {{desc}}</p>
			{{/with}}
		</div>
		<div class="col-sm-6">
			{{#if isDesktop}}
			{{> choreByHousemate}}
			{{/if}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			{{#unless noneCompleted}}
			<table class="completed-table">
				<tr>
					<th>Completed by</th>
					<th>on Date</th>
					<th></th>
				</tr>
				{{#each completed}}
				<tr>
					<td class="text-center"><a href="{{pathFor route='profile'}}{{#unless isSelf}}/{{user}}{{/unless}}">{{#if isSelf}}you{{else}}{{username}}{{/if}}</a></td>
					<td>{{humanReadableDate completed_on}}</td>
					<td>{{#if manageableCompleted}}<button class="remove-logged-chore pull-right">&times;</button>{{/if}}</td>
				</tr>
				{{/each}}
			</table>
			{{else}}
			There haven't been any chores done in this <a href="" class="time-filter">time range</a>. 
			{{/unless}}

		</div>
		{{#with chore}}
		{{#if period}}
		<div class="col-sm-6">
			<table>
				<tr>
					<th>Completed</th>
					<th>every</th>
				</tr>
				<tr>
					<td class="text-right">
						{{period}} 
					</td>
					<td>
						-seconds
					</td>
				</tr>
				<tr>
					<td class="text-right">
						{{secondsToMinutes period}} 
					</td>
					<td>
						-minutes
					</td>
				</tr>
				<tr>
					<td class="text-right">
						{{secondsToHours period}} 
					</td>
					<td>
						-hours
					</td>
				</tr>
				<tr>
					<td class="text-right">
						{{secondsToDays period}} 
					</td>
					<td>
						-days
					</td>
				</tr>
			</table>
		</div>
		{{/if}}
		{{/with}}		
</div>

</template>

<template name="choreByHousemate">
	{{initChartAutorun}}
	<canvas class="{{#if chartHidden}}hidden{{/if}}" id="chore-doughnut-chart" width="300px" height="200px"></canvas>
</template>

