<template name="manageHouse">
	<div class="row">
		<div class="col-sm-4">
			{{> rooms}}
			<div class="well">
				{{> newRoomForm}}
			</div>
		</div>
		<div class="col-sm-4">
			{{> manageHousemates}}
		</div>
		<div class="col-sm-4">
			{{> changeHousePassForm}}
		</div>
	</div>
	<hr>
	<div class="text-center">
	<button class="btn btn-warning" id="chore-reset">Reset Chore Completion</button>
	</div>
</template>

<template name="manageHousemates">
	<h3>Housemates:</h3>
	<ul>
		{{#each housemates}}
		<li><a href="{{pathFor route='profile'}}{{#unless self}}/{{id}}{{/unless}}">{{name}}</a>{{#unless self}} <button class="remove-housemate">&times;</button>{{/unless}}</li>
		{{/each}}
	</ul>
</template>

