<template name="profile">
	<div class="row">
		<div class="col-sm-7">
			{{> profileReporting}}
		</div>
		<div class="col-sm-5 well">
			<h3>Management:</h3>
			<button class="btn btn-default" id="change-username">Change username</button>
		</div>
	</div>
</template>

<template name="profileReporting">
	{{#unless isDesktop}}
	{{> chartModalButton data=chart type='Bar'}}
	{{/unless}}
	<h2>{{username}}</h2>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">	
		{{#if isDesktop}}
		{{> profileCharts}}
		{{/if}}
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading-raw-list">
				<h4 class="panel-title">

					<a data-toggle="collapse" data-parent="#accordion" href="#collapse-raw-list" aria-expanded="false" aria-controls="collapse-raw-list">
						Raw list
					</a>
				</h4>
			</div>
			<div id="collapse-raw-list" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-raw-list">
				<div class="panel-body">
					<h3>Completed:</h3>
					{{#unless noneCompleted}}
					<table class="completed-table">
						<tr>
							<th>Chore</th>
							<th>(Room)</th>
							<th>on Date</th>
							<th></th>
						</tr>
						{{#each completed}}
						<tr>
							<td class="text-right"><a href="{{pathFor route='chores'}}/{{chore._id}}">{{chore.name}}</a></td>
							<td class="text-left">(<a href="{{pathFor route='house'}}/room/{{spacesToHyphens chore.room}}">{{chore.room}}</a>)</td>
							<td>{{humanReadableDate completed_on}}</td>
							<td>{{#if manageableCompleted}}<button class="remove-logged-chore pull-right">&times;</button>{{/if}}</td>
						</tr>
						{{/each}}
					</table>
					{{else}}
					There haven't been any chores done in this <a href="" class="time-filter">time range</a>. 
					{{/unless}}
					<ul>


					</ul>
				</div>
			</div>
		</div>	


	</div>
</template>

<template name="profileCharts">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading-room-bar">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse-room-bar" aria-expanded="false" aria-controls="collapse-room-bar">
					Room Count
				</a>
			</h4>
		</div>
		<div id="collapse-room-bar" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-room-bar">
			<div class="panel-body">
				{{initChartAutorun}}
				<canvas class="{{#if chartHidden}}hidden{{/if}}" id="profile-bar-chart" width="300px" height="200px"></canvas>
				{{#if chartHidden}}There are no chores to chart in this <a href="" class="time-filter">time range</a>.{{/if}}
			</div>
		</div>
	</div>	
</template>

