<template name="housemates">
	<h3>Housemates:</h3>
	{{#each housemates}}
	<p><a href="{{pathFor route='profile'}}{{#unless self}}/{{id}}{{/unless}}">{{name}}</a></p>
	{{/each}}
</template>

<template name="listRooms">
	<h3>Rooms:</h3>
	<ul>
		<li><a href="{{pathFor route='house'}}/room/misc">misc</a></li>
		{{#each rooms}}
		<li><a href="{{pathFor route='house'}}/room/{{spacesToHyphens name}}">{{name}}</a></li>
		{{/each}}
	</ul>
</template>

<template name="recentChores">
	<h3>Recently Complete</h3>
	<ol>
		{{#each recentChores}}
		{{> choreListing}}
		{{/each}}
	</ol>
</template>

<template name="leastRecentChores">
	<h3>Least Recently Complete</h3>
	<ol>
		{{#each leastRecentChores}}
		{{> choreListing}}
		{{/each}}
	</ol>
</template>

<template name="choreListing">
		<li><a href="{{pathFor route='chores'}}/{{_id}}">{{name}}</a> (<a href="{{pathFor route='house'}}/room/{{spacesToHyphens room}}">{{room}}</a>)</li>
</template>


