<template name="room">
	<div class="row">
		<div class="col-sm-6">			
			<h2>{{room}}:</h2>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">	
				{{> roomByHousemate}}
				{{#each chores}}
				{{> roomChoreTab}}
				{{/each}}
			</div>
		</div>
	</div>
</template>


<template name="roomChoreTab">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-{{_id}}">
      <h4 class="panel-title">
				<div class="row">
					<div class="col-xs-9">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{_id}}" aria-expanded="false" aria-controls="collapse-{{_id}}">
							{{name}}
						</a>
					</div>
					<div class="col-xs-3">
						{{> choreButtons}}
					</div>
				</div>
      </h4>
		</div>
    <div id="collapse-{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{_id}}">
      <div class="panel-body">
			<ul>
				{{#each completed}}
				<li>
					Completed by <a href="{{pathFor route='profile'}}{{#unless isSelf}}/{{user}}{{/unless}}">{{#if isSelf}}you{{else}}{{username}}{{/if}}</a> on {{humanReadableDate completed_on}}
					{{#if manageableCompleted}}<button class="remove-logged-chore">&times;</button>{{/if}}
				</li>
				{{/each}}
				{{#if noneCompleted}}
				There haven't been any chores done in this <a href="" class="time-filter">time range</a>. 
				{{/if}}
			</ul>				
      </div>
    </div>
  </div>	
</template>

<template name="roomByHousemate">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="heading-room-doughnut">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse-room-bar" aria-expanded="false" aria-controls="collapse-room-bar">
					Housemate Ratios
				</a>
			</h4>
		</div>
		<div id="collapse-room-bar" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-room-bar">
			<div class="panel-body">
				{{initChartAutorun}}
				<canvas class="{{#if chartHidden}}hidden{{/if}}" id="room-doughnut-chart" width="300px" height="200px"></canvas>
				{{#if chartHidden}}There are no chores to chart in this <a href="" class="time-filter">time range</a>.{{/if}}
			</div>
		</div>
	</div>	
</template>
