<template name="newChoreForm">
	<form id="new-chore-form" role="form">
		<div class="form-group">
			<label for="chore-name">Name:</label>
			<input id="chore-name" name="choreName" type="text" placeholder="Enter a chore name">
			<label for="chore-room">in Room:</label>
			<select id="chore-room" name="choreRoom">
				<option value="other">other</option>
				{{#each rooms}}
				<option value="{{name}}">{{name}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label for="chore-desc">Description:</label>
			<textarea id="chore-desc" name="choreDesc" cols="30"></textarea>
		</div>

		<button class="btn btn-primary" type="submit">Create</button>
	</form>
</template>

<template name="newChoreFormHeader">
	Create a new chore...
</template>
