<template name="usernameForm">
	<form id="username-form" role="form">
		<div class="input-group">
			<label for="username-input">Username: </label>
			<input id="username-input" name="username" type="text" placeholder="Choose a username" value="{{username}}">
		</div>
		<button class="btn btn-primary" value="submit">Submit</button>
	</form>
</template>


<template name="usernameModalHeader">
Please choose a username.
</template>


<template name="usernameModalFooter">
<button class="btn" id="close">I'll do it later</button>
</template>
